{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<style>
    .body {
        font-family: 'Arial',sans-serif;
        margin: 0;
        background: #f0f2f5
        display: flex;
        justify-content:center;
        align-items:center;
        height: 100vh;
    }

    .register-container {
        width:400px;
        padding:30px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0 6px 15px rgba(0,0,0,0.1);
        text-align:center;
    }

    .register-container h2 {
        margin-bottom:20px;
        color: #111827;
    }

    .form-group label {
        display:block;
        margim-bottom: 5px;
        font-size: 14px;
        color:#333;
    }
    
    .form-group input {
        width: 100%;
        padding:12px;
        border:1px solid #ddd;
        border-radius:6px;
        font-size: 14px;
    }

    ..register-btn{
        width: 100%;
        padding: 12px;
        background: #764ba2
        color:white;
        border:none;
        border-radius: 6px;
        font-size: 16px;
        cursor:pointer;
        transition: background 0.3s;
    }

    .register-btn:hover{
        background:#667eea;
    }

    .log-link{
        margin-top: 15px;
        font-size:14px;
    }

    .login-link a{
        color: #764ba2;
        text-decoration:none;
        font-weight: bold;
    }
    .login-link a:hover{
        text-decoration:underline;
    }


</style>
<div class="register-container">
    <h2>Create Account</h2>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username"Username</label>
            <input type="text" id="username"name="username" placeholder="Choose a username"required>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name= "_confirm_password" plasceholder=Confirm your password"required>
        </div>

        <button type="submit"class="register-btn">Sign Up</button>
    </form>
    <p class="login-link">Already have an account?
    <a href="/login">Log in</a></p>

</div>
{% endblock %}
